<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Eleicoes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidatoServlet</display-name>
    <servlet-name>CandidatoServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.CandidatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidatoServlet</servlet-name>
    <url-pattern>/CandidatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarEleicoesServlet</display-name>
    <servlet-name>ListarEleicoesServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.lista.ListarEleicoesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarEleicoesServlet</servlet-name>
    <url-pattern>/ListarEleicoesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCargosServlet</display-name>
    <servlet-name>ListarCargosServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.lista.ListarCargosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCargosServlet</servlet-name>
    <url-pattern>/ListarCargosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCandidatosServlet</display-name>
    <servlet-name>ListarCandidatosServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.lista.ListarCandidatosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCandidatosServlet</servlet-name>
    <url-pattern>/ListarCandidatosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarEleicoesUsuario</display-name>
    <servlet-name>ListarEleicoesUsuario</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.lista.usuario.ListarEleicoesUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarEleicoesUsuario</servlet-name>
    <url-pattern>/ListarEleicoesUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarCandidatoServlet</display-name>
    <servlet-name>CadastrarCandidatoServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.cadastro.CadastrarCandidatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCandidatoServlet</servlet-name>
    <url-pattern>/CadastrarCandidatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuarioServlet</display-name>
    <servlet-name>CadastrarUsuarioServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.cadastro.CadastrarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuarioServlet</servlet-name>
    <url-pattern>/CadastrarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarCargoServlet</display-name>
    <servlet-name>CadastrarCargoServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.cadastro.CadastrarCargoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCargoServlet</servlet-name>
    <url-pattern>/CadastrarCargoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarEleicaoServlet</display-name>
    <servlet-name>CadastrarEleicaoServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.cadastro.CadastrarEleicaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarEleicaoServlet</servlet-name>
    <url-pattern>/CadastrarEleicaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCargosUsuarioServlet</display-name>
    <servlet-name>ListarCargosUsuarioServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.lista.usuario.ListarCargosUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCargosUsuarioServlet</servlet-name>
    <url-pattern>/ListarCargosUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCandidatosUsuarioServlet</display-name>
    <servlet-name>ListarCandidatosUsuarioServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.lista.usuario.ListarCandidatosUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCandidatosUsuarioServlet</servlet-name>
    <url-pattern>/ListarCandidatosUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarEleicaoServlet</display-name>
    <servlet-name>AlterarEleicaoServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.alterar.AlterarEleicaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarEleicaoServlet</servlet-name>
    <url-pattern>/AlterarEleicaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirEleicaoServlet</display-name>
    <servlet-name>ExcluirEleicaoServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.excluir.ExcluirEleicaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirEleicaoServlet</servlet-name>
    <url-pattern>/ExcluirEleicaoServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ConsultaDadosServlet</display-name>
    <servlet-name>ConsultaDadosServlet</servlet-name>
    <servlet-class>br.ucsal.eleicoes.controller.ConsultaDadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaDadosServlet</servlet-name>
    <url-pattern>/ConsultaDadosServlet</url-pattern>
  </servlet-mapping>
</web-app>